@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
    font-family: Arial;
    color: rgba(71, 40, 40, 0.86);;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    /*min-width: 320px;*/
    background-color: #9FC2C4;

}

header {
    width: 100%;
    margin: 0 auto 50px auto;
}

h1 {
    font-size: 100px;
    padding: 10px;
    background-color: #9FC2C4;
    color: rgba(0, 0, 0, 0.05);
    text-shadow: 0 5px 5px #eee;
    text-align: center;
    margin: 0 auto;

}

h2 {
    padding-bottom: 10px;
    text-align: left;
    font-size: 40px;
    border-bottom: 3px dotted rgba(71, 40, 40, 0.86);
    margin-bottom: 20px;
}

nav ul {

    padding: 0;
    margin: 0 auto;
    margin-left: 33%;
    text-align: left;
}

section p {
    text-align: left;
    letter-spacing: 2px;
    font-style: oblique;
}

nav li {
    text-align: center;
    border-radius: 0 200px 0 200px;
    letter-spacing: 1px;
    color: white;
    font-size: 18px;
    display: inline-block;
    margin-right: 3%;
    padding: 1% 2%;
    border: 1px solid rgba(68, 179, 196, 0.5);
    background: rgba(68, 179, 196, 0.5);
    /*display: none;*/
}

nav li a {
    color: white;
    text-decoration: none;
}

.characters-paragraph{
    width: 180px;
}

nav li:hover {
    color: black;
    cursor: pointer;

}

nav {
    background-color: #9FC2C4;
    /*padding: 10px;*/
    width: 100%;
    margin: 0 auto 50px auto;
}

aside {
    border-radius: 10px;
    width: 15%;
    padding: 1%;
    margin: 20px 0 0 10%;
    background-color: rgba(68, 179, 196, 0.5);
    text-align: left;
    height: 50%;
}

section {
    margin: 0 auto 50px auto;

}

main {
    width: 50%;
    margin-left: 5%;
    margin-right: 4%;

}

.hero-pic {
    width: 180px;
    height: 200px;
}

section ul {
    list-style: none;
    /*display: block;*/
    text-align: left;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

section li {
    width: 200px;
    /*height:20%;*/
    vertical-align: top;
    /*margin: 0 3%;*/

}

#nav-icon {
    /*padding: 10px;*/
    float: left;
    width: 95%;
}

.fa {
    font-size: 30px;
}

i {
    padding: 0.5%;
    float: left;
    padding-left: 11%;
    font-size: 30px;
    line-height: 20px;

}

i:hover {
    cursor: pointer;
}

#faceless-cotainer {
    position: relative;
    /*margin-right: 100%;*/
    margin-top: 50px;
    margin-bottom: 20px;
    background: url("imagess/shutterstock_529665652.png");
    float: left;
    width: 300px;
    height: 350px;
    /*width: 40%;*/
    /*height: 40%;*/
}

aside p {
    display: block;
    text-align: left;
    width: 90%;
    /*font-size: 12px*/
}

#nakov {
    margin: 0;
    position: absolute;
    display: none;

    left: 50px;
    top: -10px;
}

#yonkov {
    margin: 0;
    position: absolute;
    display: none;

    left: 70px;
    top: -10px;
}

#georgiev {
    margin: 0;
    position: absolute;
    display: none;

    left: 50px;
    top: 0px;
}

#darakchiev {
    margin: 0;
    position: absolute;
    display: none;

    left: 45px;
    top: -40px;
}

#hat-1 {
    margin: 0;
    position: absolute;
    display: none;
    width: 250px;
    left: 50px;
    top: -60px;
}

#hat-2 {
    margin: 0;
    position: absolute;
    display: none;

    left: 60px;
    top: -60px;
}

#hat-3 {
    margin: 0;
    position: absolute;
    display: none;

    left: 60px;
    top: -65px;
}

#glasses-1 {
    margin: 0;
    position: absolute;
    display: none;
    width: 60px;
    left: 83px;
    top: 63px;
}

#glasses-2 {
    margin: 0;
    position: absolute;
    display: none;
    width: 60px;
    left: 83px;
    top: 63px;
}

section > article > div {
    display: block;
    text-align: left;
    padding: 5px 5px 5px 70%;
}

section > article {
    position: relative;
    margin-bottom: 20px;
    /*border: 1px solid blue;*/
}

button {
    color: white;
    outline: none;
    border: none;
    width: 150px;
    margin-left: 70%;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    background: linear-gradient(#9FC2C4, #000001);
    border-radius: 0 200px 0 200px;

}

button:hover {
    cursor: pointer;
}

footer {
    background: black;
    color: white;
    width: 100%;
    padding: 25px;
    text-align: center;
}

/*#nakov-radio:checked {*/
/*background-color: red;*/
/*}*/
@media all and (max-width: 900px) {
    h1 {
        font-size: 80px;
    }

    header {
        order: 1
    }

    nav {
        order: 2;
        margin: 0 auto;
    }

    main {
        width: 80%;
        margin: 0 auto;
        order: 3;
    }

    aside {
        text-align: justify;
        margin: 0 auto;
        width: 80%;
        order: 4;
    }

    h2 {
        margin-bottom: 10px;
        margin-top: 0px;
    }

    footer {
        order: 5;
    }

    nav ul {
        margin: 0 auto;
        margin-left: 18%;
    }

    .fa {
        line-height: 25px;
    }

    section {
        margin: 0 auto 20px auto;
    }

    aside {
        margin: 20px auto;
    }
}

@media all and (max-width: 624px) {
    section > article > div {
        padding-left: 100px;
    }

    #faceless-cotainer {
        margin-right: 100%;
    }

    h1 {
        font-size: 60px;
    }

    .nav-class {
        display: none;
    }

    #nav-icon {
        float: left;
        padding-bottom: 10px;
    }

    #nav-icon:hover .nav-class {
        display: block;
        margin-bottom: 5px;
        /*background-color: #58fdff;*/
    }

    button {
       margin-left: 100px;
    }
}


